<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditUser</title>
</head>
<body>
    <h1>Edit User {{ users.id }}</h1>


    <form action="/update" method="post">
        <input type="hidden" name="id" value="{{users.id}}">
        first: <input type="text" name="first_name" id="" value="{{ users.first_name }}">
        last: <input type="text" name="last_name" id="" value="{{ users.last_name }}">
        email: <input type="text" name="email" id="" value="{{ users.email }}">
        <input type="submit" value="Update">
    </form>
</body>
</html>